.content1, .content2,.space{
	float: left;
	width: 50%;
}



#before, #after {
  border:  solid 1px #333;
  width:  50%;
  min-height: 100vh;
  display: inline-block;
  vertical-align: top;
  font-size : 22px;
  padding: 20px;
  box-sizing: border-box;
  height: 100vh;
  overflow: auto;
}
#before {
  background : #333;
  color:  #fff;
  font-size: 18px;
}